//    Font Family

$primary-font: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color: #f3adf8;
$title-color: #222222;
$text-color: #777777;

$white: #fff;
$black: #000;

$gradient-color-1: #f3997e;
$gradient-color-2: #ffb1f5;
